alias projets='cd ~/projets'
alias git-poulet='git pull'
alias df='df -h | grep -v snap'

alias update-zsh-config='source /home/herrcrazi/.zshrc'
alias a='apt'
alias sa='sudo apt'
alias sai='sudo apt install'
alias sau='sudo apt update'
alias safu='sudo apt full-upgrade'
alias safy='sudo apt full-upgrade -y'
alias fullup='safy'
alias fug='safy'
alias gtop='watch -tn 0.5 nvidia-smi'
alias ntopw='speedometer -rx wlp0s20f3 -tx wlp0s20f3'
alias ntopeth='speedometer -rx enp7s0 -tx enp7s0'
alias svc='sudo systemctl'
alias svcup='svc start'
alias scvdown='svc stop'
alias scvrs='svc restart'
alias py='python3.8'
alias pkgi='sudo dpkg -i'
alias scr='screen -S dev'
alias tmr='tmux attach'

alias ll='ls -lah --color=auto'
alias reload='source ~/.termrc'

#alias mc-install-plugin='echo "Installing $2";  echo "Done !"'
alias cls='lxc ls -c ns4DSP' 
alias cll='lxc ls -c ns4dD'
alias ctop='lxc ls -c nsuMDbS'
alias vls='lxc storage volume ls -c tnUcu chongoose'

alias zfs='sudo zfs'
alias zls='sudo zfs list'
